[gerrit]
	basePath = git
	serverId = ea9761a1-774d-4262-8d20-97f650d0c392
	canonicalWebUrl = http://192.168.100.119:8086/

[database]
	type = postgresql
	hostname = localhost
	database = bpdb1
	username = bpadmin
[index]
	type = LUCENE
[auth]
	type = OAUTH
	gitBasicAuthPolicy = HTTP
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = bhagavan
	javaHome = /usr/lib/jvm/java-8-oracle/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8086/
[cache]
	directory = cache
[plugin "gerrit-oauth-provider-google-oauth"]
	client-id = 832331246578-g8rm6rcoej1mphtqc6hih74bjksltbh8.apps.googleusercontent.com
	fix-legacy-user-id = false
	domain = blackpeppertech.com


